%div{ id: 'nav'}
  %ul
    %li
      =pages_links
    %li
      =link_to_unless_current t('locations.index.title'), locations_path, {class: "nav_link"}
    %li
      =link_to_unless_current t('videos.index.title'), videos_path, {class: "nav_link"}
    -if admin_user?
      %li
        =link_to_unless_current t('practices.index.title'), practices_path, {class: "nav_link"}
    -if current_user
      %li
        =button_to t('nav.logout').capitalize, {controller: "sessions", action: "destroy"}, {class: "nav_link destroy_button", method: :delete}


  =language_switcher

#flash
  - unless flash.empty?
    = content_tag :div, flash[:notice],  class: "notice"  if flash[:notice]
    = content_tag :div, flash[:warning], class: "warning" if flash[:warning]
    = content_tag :div, flash[:error],   class: "error"   if flash[:error]
