=div_for event do
  %div.event_title_bar 
    %p.event_title
      ="#{event.start_date.strftime('%b %d %Y')}: #{event.title}" if event.start_date

  =action_links_for(event)

  =link_to image_tag(event.poster.url(:medium)), event.poster.url
