=#TODO - get the confirm option working here.
== #{ link_to t('edit'), edit_page_path(@page), {class: "action_link"} } #{ button_to(t('delete'), {controller: "pages", action: "destroy", page: @page.title, confirm: "Are you sure?"}, {method: :delete, class: "destroy_button action_link"})}
%p
  = @page.content.html_safe
