
=image_tag 'capoeira_banner.jpg', :alt => 'Capoeira Angola Ottawa logo'
%h1
  Capoeira Angola
#content_body  
  %p
    Capoeira is an African-Brazilian art form that originated with African slaves brought by Portuguese colonists to work on the plantations that drove Brazil's economy from the 16th century onwards. 

  %p
    A blending of, combat, dance, music and ritual, the capoeira "jogo" (game) is a deep expression of the culture of the African diaspora in Brazil and an active remembering and preserving of that people`s history, myths, legends, songs, figures and adoptive land, the state of Bahia in the Northeast of Brazil, one of the great cradles of the cultures of the African diaspora.

  %p
    Capoeira Angola is the name usually credited to Mestre Vicente Ferreira Pastinha (b. 1889, d. 1981). It is one of the two major branches of capoeira, the other, Capoeira Regional, having been developed by Mestre Bimba during roughly the same period in the 20th century. 
  %p
    Capoeira Angola Training classes in Ottawa are led by Alex Stephens, a student of the group's founder, Mestre Jogo de Dentro (Salvador, Brazil), and Contramestra Colette (Montreal, Quebec). 
  %p
    TRAINING SCHEDULE & LOCATION
  %p
    Thursday 7:15-9:15 p.m. Studio B at Artscourt  2 Daly Ave., Ottawa, ON

  %p
    Sunday 2:30-4:45 p.m. Bronson Centre  211 Bronson Ave., Ottawa, ON

  %p
    CONTACT

  %p
    Alex Stephens 613.293.6947 capoeira.angola at bell.net
