%p
  %strong t('activerecord.attributes.gcsja.about')
  = @gcsja.about
%p
  %strong t('activerecord.attributes.gcsja.welcome')
  = @gcsja.welcome

== #{ link_to t('edit'), edit_gcsja_path(@gcsja) } | #{ link_to t('back'), gcsjas_path }
