#infowindow_content
  .infowindow_actions
    %ul
      -if admin_user?
        %li
          = link_to t('edit'), edit_location_path(@location), :target => '_parent'
        %li
          =link_to t('destroy'), @location, :confirm => I18n.t('locations.confirm_destroy'), :method => :delete


  =content_tag_for :div, @location do
    %p
      =@location.name
    %p
      = @location.address
    %p
      =render :partial => 'practice', :collection => @location.practices
