!!! 5
%html
  %head
    %meta{:name => 'keywords', :content => 'capoeira ottawa'}
    %meta{:name => 'description', :content => "Capoeira Angola Ottawa is the Ottawa branch of Mestre Jogo De Dentro's Groupo Semente Do Jogo De Angola."}
    %title
      Capoeira Angola Ottawa
    = stylesheet_link_tag 'style'
    =javascript_include_tag :defaults 
    = csrf_meta_tag
  %body
    #content
      #header
        =image_tag 'gcsja_logo_99x110.png'
        =render :partial => 'shared/nav'
      #rightcol
        =yield :right
      #leftcol
        =yield :left
      #main
        =yield
      #clear
      #footer
        =render 'shared/footer'
