!!! 5
%html
  %head
    =render partial: 'shared/head'
    =stylesheet_link_tag params[:controller]
    %script{ src: "https://maps.googleapis.com/maps/api/js?v=3&sensor=true", type: "text/javascript" }
  %body{ onload: 'initialize()' }
    #container
      #header
        =image_tag 'gcsja_logo_162x180.png', class: "logo"
        =render partial: 'shared/nav'
      #main
        =yield
      #footer
        =render 'shared/footer'
        =javascript_include_tag 'locations'
