!!!
%html
  %head
    %title= t "application.title"
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %meta{:name => "viewport", :content => "initial-scale=1.0, user-scalable=no"}
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    =stylesheet_link_tag 'style' 
    = csrf_meta_tag
    %script{:src => "http://maps.google.com/maps/api/js?sensor=true", :type => "text/javascript" }
    =javascript_include_tag :all
    =javascript_include_tag 'locations'
  %body{:onload => 'initialize()'}
    #content
      #header
        =image_tag 'gcsja_logo_99x110.png'
        =render :partial => 'shared/nav'
      =yield
      #clear
      #footer
        =render 'shared/footer'
